.modal-overlay {
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: #fff;
    width: 50%;
}

.modal-open {
    display: flex;
}

.modal-close {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    background: #fafafa;
}

.modal-main {
    padding: 20px;
}

.modal-header .modal-button-close {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    cursor: pointer;
}
